.hero {
  /* background: url('https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80') no-repeat center/cover; */
  background: url('https://images.unsplash.com/photo-1490902931801-d6f80ca94fe4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80') no-repeat center/cover;
  /* background: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80') no-repeat center/cover; */
  display: flex;
  width: 100%;
  height: 500px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-top: 10%;
  padding: 6px 15px;
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: 25px;

  /*  */
  box-shadow: rgba(32, 32, 32, 0.5) 0px 10px 10px

}

form label {
  font-size: .8rem;
  padding-bottom: 2px;
}

.text, .from, .until{
  display: flex;
  flex-direction: column;
}

.from, .until {
  border-left: 1px solid #999;
  padding-left: 6px;
}

form input {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
}

form input:focus {
  outline: none;
}

form .text_input {
  width: 300px;
  font-size: 1rem;
}

.search_btn {
  display: flex;
  align-items: center;
}

.search_btn .btn {
  display: none;
}

@media screen and (max-width:720px){
  form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: auto 1rem;
  }
  
  .text, .from, .until {
    width: 100%;
    padding: .2rem;
  }

  .from, .until {
    border-left: none;
  }

  .text_input {
    font-size: .8rem;
  }

  .border {
    border-top: 1px solid #999;
    padding: 8px;
  }
  form label {
    padding: .4rem 0;
  }

  .search_btn {
    width: 100%;
    border-top: 1px solid #999;
    padding: 8px 0;
  }

  .search_btn .btn {
    display: block;
    background-color: #593cfb;
    color: white;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    padding: 12px;
    margin: .5rem 0;
    cursor: pointer;
  }

  .search_btn .btn:hover {
    background-color: #4733b7;
    transition: background-color 1s;
  }

  .icon {
    display: none;
  }
}